{% extends "base.html" %}
{% block active_menu %}active border-bottom border-primary {% endblock active_menu %}

{% block content %}

<div class="row justify-content-center mt-5">
  <div class="col-md-4 border shadow p-4">
    <div class="d-grid gap-2 mb-3">
      
      <h4 class="text-center text-secondary">Game</h4>
      <a class="btn btn-outline-primary" href="{% url 'main-easy-view' %}">Easy</a> 

      <a class="btn btn-outline-primary" href="{% url 'main-medium-view' %}">Medium</a> 
      
       

    </div>
    <div class="d-grid gap-2 mt-4 mb-3">     
      <h4 class="text-center text-secondary">Tutorial</h4>
      <a class="btn btn-outline-primary"  href="{% url 'buka' %}">Microsoft Word</a>
    </div>




  </div>
</div>

{% endblock content %}