{% extends "base.html" %}
{% load static %}
{% block scripts %}
<script src="{% static 'hard/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
hard level
{% endblock title %}

{% block content %}

<div class="row mt-5">
  <div class="col-sm-12 col-md-10 col-lg-8 ">
    <div class="border shadow " >
      <div class="text-center p-4" style="background-color: #FF7777 ">
        <h1 >Game Asah Otak</h1>      
        <h3>Level : Hard</h3>

      </div>

      <div class="text-start p-4">

        <h4>Selamat datang, {{ user.username }}</h4>
        <h6>Klik tombol Random untuk memulai !</h6>
        {% for obj in hard_quiz %}
        <div class="mb-3 mt-3">
          <button type="button" class="btn btn-primary modal-button"
            data-bs-toggle="modal"
            data-bs-target="#quizStartModal"
            data-pk="{{obj.pk}}"
            data-quiz="{{obj.name}}"
            data-questions="{{obj.number_of_questions}}"
            data-difficulty="{{obj.difficulty}}"
            data-time="{{obj.time}}"
            data-pass="{{obj.required_score_to_pass}}" >
                {{obj.name}}
          </button>
    
        </div>
        {% endfor%}

        
        
      </div>
      
      <div class="d-flex justify-content-end mb-3  me-4">
        <a class="btn btn-outline-dark" href="/">Back</a>
      </div> 

    </div>

  </div>

 
  <div class="col">
    <div>
      <table class="table border shadow mt-3 ">
        <thead>
          <tr class="">
           
            <th scope="col">No</th>
            <th scope="col">Quiz</th>
            <th scope="col">User</th>
            <th scope="col">Nilai</th>
            
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
            {% if result.score == 100 %}
            <tr >
              <td class="text-primary">{{ forloop.counter }}</td>
              <td class="text-primary">{{ result.quiz.name }}</td>
              <td class="text-primary">{{ result.user.username }}</td>
              <td class="text-primary">{{ result.score }}</td>           
            </tr>
            {% else %}
            <tr >
              <td class="text-danger">{{ forloop.counter }}</td>
              <td class="text-danger">{{ result.quiz.name }}</td>
              <td class="text-danger">{{ result.user.username }}</td>
              <td class="text-danger">{{ result.score }}</td>           
            </tr>
            
            
            {% endif %}
          {% endfor %}
         
          
        </tbody>
      </table>

      {% if not results %}
      <p class="text-center text-secondary">Belum ada record data score.</p>
      {% endif %}
      <div class="d-grid">
        <a class="btn btn-outline-dark mt-2" href="{% url 'result-medium-view' %}">More</a>

      </div>
    </div>
  </div>
</div>

      <!-- Modal -->
      <div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modal-title-confirm"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body-confirm"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" id="start-button" class="btn btn-primary">Start</button>
            </div>
          </div>
        </div>
      </div>



{% endblock content %}